body{
    background-color: var(--background);
    color: var(--text);
    font-family: Roboto;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr;
    user-select: none;
    overflow: hidden;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .h1, header .h2{
    margin: 0px;
}
header .h1{
    font-size: 60px;
    text-decoration: underline solid var(--accent) 4px;
    text-underline-offset: 5px;
    text-align: center;
    letter-spacing: 7px;
}
header .h2{
    font-size: 35px;
    text-decoration: underline solid var(--accent) 3px;
    letter-spacing: 2px;
}
.h1:any-link, .h2:any-link{
    color: var(--text);
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
}
.column{
    background-color: var(--surfaces);
    margin: 0px auto;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: var(--accent) solid 2px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.title{
    margin: 0px;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    border-bottom: solid var(--accent) 2px;
    letter-spacing: 5px;
    text-decoration: underline solid var(--accent) 3px;
    text-underline-offset: 4px;
    background-color: var(--dark);
    border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
}
/*        cards         */
#player-cards{
    height: calc(100% - 63px);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.player-card{
    margin: 20px;
    font-size: 25px;
    background-color: var(--dark);
    border: var(--accent) solid 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-variant: small-caps;
    display: grid;
    grid-template-rows: 1fr 35px;
}
.name-color{
    padding-left: 15px;
    padding-right: 15px;
}
.name {
    display: flex;
}
.name input{
    padding-left: 4px;
    margin-top: 4px;
    height: 24px;
    font-size: 22px;
    font-family: Roboto;
    color: var(--text);
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--accent);
    color: var(--text);
    width: 100%;
}
.name input:focus{
    outline: none;
}
.color input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
}
.enabled{
    background-color: #494;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.disabled{
    background-color: #e43;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*        GAME         */
#game-settings{
    height: calc(100% - 63px);
    display: flex;
}
.setting{
    margin-top: 10px;
    padding-left: 8px;
    padding-right: 15px;
    font-size: 25px;
    display: flex;
    font-variant: small-caps;
}
.setting input{
    font-family: Roboto;
    padding-left: 4px;
    margin-top: 4px;
    height: 24px;
    font-size: 23px;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--accent);
    color: var(--text);
    width: 100%;
}
.setting input:focus{
    outline: none;
}
#right{
    border-left: solid 2px var(--accent);
}
.drop-down{
    font-family: Roboto;
    margin-top: 2px;
    font-size: 23px;
    margin-left: 5px;
    color: var(--text);
    padding-left: 2px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--accent);
}
.drop-down:focus{
    outline: none;
}
.drop-down option{
    background-color: var(--surfaces);
}
#next{
    background-color: var(--dark);
    border: none;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 45px;
    font-family: Roboto;
    font-variant: small-caps;
    color: var(--text);
    width: calc(100% - 30px);
    height: 60px;
    padding-bottom: 61px;
    border: solid var(--accent) 2px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}
#next:hover{
    background-color: var(--background);
}