@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    --background: #181818;
    --surfaces: #111;
    --accent: darkcyan;
    --darker: #080808;
    --dark: #0b0b0b;
    --text: #EEE;
    --grey: #333;
}
body{
    background-color: var(--surfaces);
    color: var(--text);
    font-family: Roboto;
    font-weight: bold;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
header{
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .h1, header .h2{
    margin: 0px;
}
header .h1{
    font-size: 110px;
    text-decoration: underline solid var(--accent) 4px;
    text-underline-offset: 5px;
    text-align: center;
    letter-spacing: 15px;
}
header .h2{
    font-size: 50px;
    text-decoration: underline solid var(--accent) 3px;
    letter-spacing: 10px;
}
.h1:any-link, .h2:any-link{
    color: var(--text);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.go-button{
    user-select: none;
    font-size: 35px;
    background-color: var(--dark);
    width: 400px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--accent) solid 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.go-button:hover{
    background-color: var(--darker);
}

