@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    --background: #181818;
    --surfaces: #111;
    --accent: darkcyan;
    --darker: #080808;
    --dark: #0b0b0b;
    --text: #EEE;
}

body{
    background-color: var(--background);
    color: var(--text);
    font-family: Roboto;
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    user-select: none;
    overflow: hidden;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .h1, header .h2{
    margin: 0px;
}
header .h1{
    font-size: 60px;
    text-decoration: underline solid var(--accent) 4px;
    text-underline-offset: 5px;
    text-align: center;
    letter-spacing: 7px;
}
header .h2{
    font-size: 35px;
    text-decoration: underline solid var(--accent) 3px;
    letter-spacing: 2px;
}
.h1:any-link, .h2:any-link{
    color: var(--text);
}
main{
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: calc( 100vh - 150px);
    padding: 10px;
    gap: 10px;
}
.section{
    background-color: var(--surfaces);
    border: solid var(--accent) 2px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: grid;
    grid-template-rows: 70px 1fr;
}
.title{
    padding-top: 10px;
    font-size: 35px;
    text-align: center;
    border-bottom: solid var(--accent) 2px;
    letter-spacing: 5px;
    text-decoration: underline solid var(--accent) 3px;
    text-underline-offset: 4px;
    background-color: var(--dark);
    border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
}
.title:hover{
    background-color: var(--darker);
}
#pieces{
    overflow-y: auto;
    padding: 8px;
    padding-bottom: 100px;
}
.piece{
    margin-bottom: 10px;
    background-color: var(--dark);
    border: solid var(--accent) 2px;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 50px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.piece:hover{
    background-color: var(--darker);
}
.pieceImage{
    grid-area: 1 / 1 / 3 / 2;
}
.pieceName{
    display: flex;
    align-items: flex-end;
    font-size: 35px;
}
.pieceCost{
    font-size: 20px;
}
.pieceImage img{
    padding: 7px;
    max-height: calc(100% - 14px);
    max-width: calc(100% - 14px);
    filter: invert(0.85);
    -webkit-filter: invert(0.85);
}
.dark{
    background-color: var(--accent);
}
.light{
    background-color: var(--background);
}